.nav{
    display:flex;
}

.nav-item{
    margin-right: 4%;
}

.character-list{
    display:flex;
    flex-wrap:wrap;
}

.char-card{
    width: 28%;
    border: 1px solid black;
    border-radius: 8px;
    margin: 1%;
    padding: 1%;
}